<nav class="main-nav">
	<header><h1>tony</h1></header>
	<section>
        <dl>
            <dd class="current">
            	<a href="">文章列表</a>
            </dd>
            <dd><a href="">添加文章</a></dd>
        </dl>
    </section>
    <footer>
    	<span>退出</span>
        <span>设置</span>
    </footer>
</nav>
<div class="content">
	<header class="main-menu">
    	<h2>
        	文章列表
        	<em></em>
        </h2>
        <div class="top-menu">
            <ul>
            	<li><a href="">返回</a></li>
            	<li><a href="">刷新</a></li>
                <li><a href="">添加</a></li>
                <li><a href="">删除</a></li>
            </ul>
            <div class="search">
            	<input name="" type="text" placeholder="Search..." />
            </div>
        </div>
    </header>
    <div class="main">
    	<div class="blog-add">
        	<form action="index.php?r=admin/index/insert" method="post" id="insert">
                <div class="title">
                    <input name="title" type="text" placeholder="请输入文章标题" />
                </div>
                <textarea name="body" id="blog-body"></textarea>
                <input type="submit" id="add" />
            </form>
        </div>
    </div>
</div>