<div class="content">
	<header class="main-menu">
    	<h2>
        	文章列表
        	<em></em>
        </h2>
        <div class="top-menu">
            <ul>
            	<li><a href="">返回</a></li>
            	<li><a href="">刷新</a></li>
                <li><a href="">添加</a></li>
                <li><a href="">删除</a></li>
            </ul>
            <div class="search">
            	<input type="text" placeholder="Search..." />
            </div>
        </div>
    </header>
    <div class="main">
    	<div class="blog-detail">
            <header>
                <h2>
                    {{=it.title}}
                </h2>
                <div class="meta">
                    <p class="date">
                        <time datetime="{{=it.created}}">{{=it.date}}</time>
                    </p>
                    <p class="likes">
                        <a href="#">{{=it.likes}}</a>
                    </p>
                </div>
            </header>
            <section class="body">
                {{=it.body}}
            </section>
        </div>
    </div>
</div>