<!-- 商家 -->

<div id="ajax_goods" class="ajax_box bg" style="display:block;">

    <div class="mod_loading"></div>
    
    <div class="mod_header bg_header bdc">
        <div class="title">商家</div>
        <div class="js_back back"></div>
        <a class="toIndex" href="#"></a>
        <a class="toSearch" href="index.php?r=default/search/index" data-temps="html/search_head,html/search"></a>
    </div>
    
    <div id="tabs" class="ku_fix mod_storeTab">
        <div class="tab comment" data-role="tab">评论<span class="bg_tab"></span></div>
        <div class="tab base" data-role="tab">基本<span class="bg_tab"></span></div>
        <div class="tab goods" data-role="tab">商品<span class="bg_tab"></span></div>
    </div>
    
    <div id="js_goods_index_wrapper" class="iscroll" style="top:86px;">
        <div id="ajax_goods_data" class="tab_data">

            <div class="tab_wrapper">
                <div class="tab_contents">
                    <!-- 商家_评论 -->
                    <div class="tab_content">
                        <div>
                            <div class="mod_storeComment_no">
                                亲，暂时没有评论喔
                            </div>
                        </div>
                    </div>
                    <!-- 商家_基本 -->
                    <div class="tab_content">
                        <div>
                            <!-- 店铺图片 -->
                            <div class="box_storePic"><img src="http://shop.100msh.com/{{=it.store.store_logo}}" alt=""></div>
                            
                            <!-- 店铺信息 -->
                            <div class="mod_storeInfo">
                                <div class="title">{{=it.store.store_name}}</div>
                                <div class="level">
                                    <div class="star"></div>
                                </div>
                                <div class="address">
                                    地址：{{=it.store.address}}
                                </div>
                                <div class="phone">
                                    电话：{{=it.store.tel}}
                                </div>
                                <div class="contentMen">
                                    联&ensp;系&ensp;人：{{=it.store.owner_name}}
                                </div>
                                <div class="time">
                                    服务时间：{{=it.store.start_time}}-{{=it.store.close_time}}
                                </div>
                            </div>
                            
                            <!-- 店铺功能 -->
                            <div class="box_storeAction">
                                <div class="ku_fix mod_storeAction">
                                    <a class=" phone" data-tel="{{=it.store.tel}}" data-srcname="cater" href="tel:{{=it.store.tel}}">
                                        <div class="icon"></div>
                                        <div class="info">致电商家</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 商品列表 -->
                    <div class="tab_content">
                        <div>
                            <div id="container" class="ku_fix mod_store_goodsList">
                                {{~it.goods: value}}
                                    <div class="listBox">
                                        <a class="list" href="index.php?r=default/goods/index&id={{=value.goods_id}}">
                                            <div class="picBox">
                                                <img src="http://shop.100msh.com/{{=value.default_image}}" alt="" />
                                            </div>
                                            <div class="name">{{=value.goods_name}}</div>
                                            <div class="price"><span>¥</span>{{=value.price}}</div>
                                        </a>
                                    </div> 
                                {{~}}
                            </div>
                            <div class="next_page">
                                <a href="index.php?r=default/store/goods_2">加载中...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
</div>